<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8"/>
    <title>Flies</title>
</head>
<main>
    <div class="container py-5 mt-5">
        <h1 class="text-center">Hookset Fly Catalog</h1>

        <div class="d-flex justify-content-center gap-3 my-4">
            <a th:href="@{/flies(filter='all')}"
               class="secondary-button">
                All Flies
            </a>

            <a th:href="@{/flies(filter='hookset')}"
               class="secondary-button">
                Hookset Flies
            </a>

            <a th:href="@{/flies(filter='mine')}"
               class="secondary-button">
                My Flies
            </a>

            <a th:if="${filter == 'mine'}"
               th:href="@{/flies/add}"
               class="secondary-button">
                Add Fly
            </a>

        </div>

        <div class="table-responsive">
            <table id="fliesTable"
                   class="table table-striped table-hover align-middle"
                   style="width: 100%">

                <thead>
                <tr>
                    <th>Emblem</th>
                    <th>Fly Name</th>
                    <th>Fly Type</th>
                    <th>Details</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="fly : ${flies}">
                    <td>
                        <img class="fly-image"
                             th:src="@{'/images/flies/' + ${fly.flyImage}}"
                             th:alt="${fly.flyName}">
                    </td>

                    <td th:text="${fly.flyName}"></td>

                    <td th:text="${fly.flyType}"></td>

                    <td>
                        <a th:href="@{/flies/details/{slug}(slug=${fly.flySlug})}"
                           class="secondary-button">
                             Details
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>